/* Mobile Styles */
@media only screen and (max-width: 767px) {
  body {
    background-color: #f4f1ec;
  }

  .header-tweets {
    font-size: 20px;
  }

  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    height: 10vh;
  }

  .container {
    margin: 20px auto 20px;
    background-color: #f4f1ec;
    padding: 40px;
  }

   .tweeter-logo {
    font-size: 20px;
  }

  .header-login {
    top: 10px
  }

  .header-login-name {
    margin-top: 10px;
    color: #FFFFFF;
    font-size: 25px;
  }

  #header-icon {
    margin-top: 20px;
    width: 180px;
    height: 180px;
  }

  .tweet-label {
    font-size: 15px;
    max-height: fit-content;
  }

  .footer-tweets {
    margin-top: 10px;
  }
  
  .tweet-nav-text {
    font-size: 15px;
  }
  .tweet-icon {
    font-size: 15px;
    margin-left: 50px;
  }
}

/* Tablet Styles */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  body {
    background-color: #f4f1ec;
  }
  .tweet-outline {
    display: flex;
    flex-direction: column;
    border-bottom: 5px solid #545149;
    margin-bottom: 10px;
    margin-top: 20px;
    font-size: 22px;
  }

  .footer-tweets {
    margin-top: 10px;
  }
}

/* Desktop Styles */
@media only screen and (min-width: 1024px) {
  body {
    background-color: #f4f1ec;
  }

  .div-container {
    display: flex;
    flex-direction: row;
    height: 100%;
    align-items: flex-start;
    gap: 8em;
    margin: 2em;
    margin-top: 4em;
  }
  .header-login {
    height: 360px;
    width: 40%;
    display: flex;
    background-color: #bdad00;
    background-image: url("https://www.transparenttextures.com/patterns/black-paper.png");
  }
  
  .header-login-name {
    margin-top: 10px;
    color: #FFFFFF;
    font-size: 25px;
  }

  #header-icon {
    margin-top: 20px;
    width: 180px;
    height: 180px;
  }
  .footer-tweets {
    margin-top: 10px;
  }
  
  .container {
    flex: 1;
    max-width: 60%;
  }
}