.button-tweet {
    background-color: #4056a1;
    color: #FFFFFF;
    font-family: 'Bungee', sans-serif;
}

.button-tweet:hover {
  box-shadow: 10px 10px 5px rgb(152, 157, 223);
}

.tweet-outline {
  display: flex;
  flex-direction: column;
  border-bottom: 5px solid #545149;
  margin-bottom: 10px;
  font-size: 18px;
}

.counter {
  color: #545149;
  font-family: 'Bungee', sans-serif;
}

#tweet-button {
  display: flex;
  justify-content: space-between;
}

#tweet-text {
  background-color: #f4f1ec;
  border: none;
  outline: none;
  margin-bottom: 20px;
  font-size: 18px;
}

.negative {
  color: red;
}

#tweeter-icon {
  height: 70px;
  width: 70px;
  margin: 20px;
}

.error-message {
  color: red;
  font-size: 20px;
  display: none;
  margin: 1px;
}